body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-self: center;
}
main {
    width: fit-content;
    align-self: center;
    justify-content: center;
    width: 50vh;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#survey-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}
p {
    justify-content: center;
    align-self: center;
    margin: 1rem;
}
h1 {
    justify-content: center;
    align-self: center;
}
.radio,
.check {
    display: inline;
    justify-content: center;
    align-self: center;
}
#submit {
    padding: 0.5rem;
    margin: 1rem;
}