body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-self: center;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
}
#survey-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50vh;
}
p {
    justify-content: center;
    align-self: center;
}
h1 {
    justify-content: center;
    align-self: center;
}